.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.card {
  height: 60vh;
  width: 70%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.listdata {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
