.container {
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}
.test {
  padding-top: 11%;
}
.nav {
  background: #e5e5e5;
  min-height: 30vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  flex-direction: row;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  a {
    font-weight: bold;
    color: #ababab;

    &.router-link-exact-active {
      color: #e68a3a;
    }
  }
}
